#top{
    text-align: center;
    font-size: 100px;
    font-family: 'Spicy Rice', cursive;
    
}

#yo{
    position: relative;
    font-size:45px;
    margin-left:35%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
